{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block content %}

<div class="row-fluid-wrapper row-depth-1 row-number-1 dnd_area-row-0-max-width-section-centering dnd_area-row-0-margin dnd-section dnd_area-row-0-padding dnd_area-row-0-background-image dnd_area-row-0-hidden" style="box-shadow: none;">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-row">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget dnd-module" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_dnd_area-module-2" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">

<section class="th-hero-2 text-center">

  <div class="max-width-850 ml-auto mr-auto">

    <div class="tagline-wrap mb-15">
      <div class="tagline secondary-color">
        Let me Explain it!
      </div>

      <!-- HTML to show when checked -->
      <div class="tagline-line secondary-bg-color ml-15"></div>

    </div>



    <div class="heading-text">
      <h1>
      <span class="heading-type heading-color font-size-60">
        Курсы по подготовке к <strong>USMLE</strong>
      </span>
    </h1></div>
    <div class="heading-line"></div>




    <div class="button-wrap">


      <div class="button-1 button-col">





        <a class="button" href="https://484997.hs-sites.com/thrifty/sectors">

          Узнать по больше

        </a>
      </div>




      <div class="button-2 button-col">





        <a class="button" href="https://484997.hs-sites.com/thrifty/book-meeting">
          Записаться на курсы

        </a>
      </div>

    </div>
  </div>
</section>

</div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div>

{% endblock %}
